#navi{
    background-color: #5B4543 !important;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: rgb(232, 177, 151);
}
.introduction{
    /*picture by ed robertson usplash*/
    background-image: url("../images/jumbotron (8).jpg");
    background-size: cover;
    padding: 20px;
    width: auto;
    font-size: 20px;
    position: relative;
    height: 500px;
}
.introduction-background{
    position: absolute;
    /*for centering vertically and horizontally*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 250px;
    padding: 10px 10px;
    background-color: rgb(255,255,255,0.92);
}
.introduction-heading{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, serif;
    color: black;
}
.introduction p{
    text-align: center;
    margin-top: 0;
    color: gray;
    font-family: Georgia, serif;
}
#joinButton{
    background: #FB4887;
    border: none;
    border-radius: 15px;
    /*padding: 10px 20px;*/
    height: 40px;
    width: 200px;
    color: white;
    /*font-weight: bold;*/
}
#slanted{
    background: #EAECFC;
    padding-bottom: 50px;
 }
 #slantedText{
    /*margin-top: 20px;*/
    margin-bottom: 50px;
 }
svg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    fill: #EAECFC;
    /*transform: scaleX(-1);*/
    transform: rotateY(180deg);
}
#buyBtn{
    position: relative;
    top: 400px;
    background-color: rgb(250, 18, 99);
    color: white;
    box-shadow: inset 5px 5px 8px #FC5C95;
    border: none;
}
#buyBtn:hover{
    box-shadow: none;
}
.card{
    margin: 30px 60px;
}
.card1{
    margin-top: 50px;
}
.card2{
    margin-top: 70px;
}
.card3{
    margin-top: 90px;
}
.card-img-top{
	height: 300px;
}
a{
    text-decoration: none;  
    color: black;
}
a:hover{
    /*color: red;*/
    text-decoration: none;
}
